.idea
/app/config/db.php
/app/config/own_params.php

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# composer.lock in applications is ignored since it's automatically created by composer when application is installed
composer.lock

# Mac DS_Store Files
.DS_Store

# Yii temp

assets
runtime
uploads/thumbs/

Thumbs.db