.idea
/app/config/db.php

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar


# composer.lock in applications is ignored since it's automatically created by composer when application is installed
composer.lock

# Mac DS_Store Files
.DS_Store

Thumbs.db
